[submodule "raylib"]
	path = raylib
	url = https://github.com/raysan5/raylib.git
[submodule "rlImGui"]
	path = rlImGui
	url = https://github.com/raylib-extras/rlImGui.git
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json
[submodule "lwlog"]
	path = lwlog
	url = https://github.com/ChristianPanov/lwlog.git
[submodule "libccd"]
	path = libccd
	url = https://github.com/danfis/libccd.git
